<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <ion-tab title="Login" icon="icon ion-log-in" href="#/auth/login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab>

</ion-tabs>
