<ion-view title="Sign In">
  <ion-content class="has-header"> 
      <div class="row">
          <div class="col padding">
      <button class="button button-block button-positive" ng-click="login('facebook')">
      <i class="icon ion-social-facebook"></i> &nbsp; Login with facebook
       </button>
             </div>
          </div>
          <div class="row">
          <div class="col padding">
              <button class="button button-block button-assertive" ng-click="login('google')">
                <i class="icon ion-social-google"></i> &nbsp;  Login with Google
                </button>
          </div>
      </div>
      <div class="row">
            <div class="col padding">{{WelcomeMessage}}</div>
      </div>      
  </ion-content>
</ion-view>
