<ion-view title="Register">
  <ion-content class="has-header">
      <form name='register'>  
          <div class="list">
            <label class="item item-input  item-floating-label">
              <span class="input-label">First name</span>
              <input type="text" placeholder="First name" ng-model="user.firstname" required>
          </label>
          
          <label class="item item-input  item-floating-label">
              <span class="input-label">Last name</span>
              <input type="text" placeholder="Last name" ng-model="user.lastname" required>
          </label>
    
          <label class="item item-input  item-floating-label">
              <span class="input-label">Email</span>
              <input type="email" placeholder="Email" ng-model="user.email" required>
          </label>
              
          <label class="item item-input  item-floating-label">
              <span class="input-label">Username</span>
              <input type="text" placeholder="Username" ng-model="user.username" required>
          </label>
  
          <label class="item item-input  item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password"  ng-model="user.password" required>
          </label>
     
          <label class="item item-input  item-floating-label">
              <span class="input-label">Confirm Password</span>
              <input type="password" placeholder="Confirm Password"  ng-model="user.password_verify" data-password-verify="password"  required>
          </label>

          </div>
      <div class="padding">
          <button class="button button-block button-positive" ng-click="register(register.$valid)">
                Sign Up
          </button>
          </div>
          </form>
  </ion-content>
</ion-view>
