<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Feed Tab -->
  <ion-tab title="Latest" icon="icon ion-clock" href="#/tab/latest">
    <ion-nav-view name="latest"></ion-nav-view>
  </ion-tab>


  <!-- AddPost Tab -->
  <ion-tab title="Add" icon="icon ion-plus" href="#/tab/add">
    <ion-nav-view name="postadd"></ion-nav-view>
  </ion-tab>


  <!-- PostDetails Tab -->
  <ion-tab title="Browse" icon="icon ion-pound" href="#/tab/browse">
    <ion-nav-view name="hashtag"></ion-nav-view>
  </ion-tab>


</ion-tabs>
