<ion-view title="#Trending">
  <ion-content class="has-header">
     <ion-list>
      <ion-item ng-repeat="tag in hashtags | orderBy: 'count':true" type="item-text-wrap" href="#/tab/hash/{{tag.hashtag}}">
            <i class="icon ion-pound"></i>
                {{tag.hashtag}}
            <span class="item-note">
                {{tag.count}}
            </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
