<ion-view title="Add Post">
  <ion-content class="has-header">
      <form name='postForm'>  
      <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Post</span>
        <input type="text" placeholder="Post" ng-model="post.text" required>
      </label>
    </div>
      <div class="padding">
          <button class="button button-block button-positive" ng-click="savePost(postForm.$valid)">
            Post
          </button>
          </div>
          </form>
  </ion-content>
</ion-view>
