<ion-view title="Details">
  <ion-content class="has-header">
      <div class="card">
  <div class="item item-text-wrap">
      <strong>{{post.text}}</strong>
      <br />
      <small>{{post.createdAt | date:'MM/dd/yyyy hh:mm a'}}</small>
  </div>
  <div class="item item-divider">
            <span ng-repeat="hash in post.hashtags">
                <a  ng-href="#/tab/hash/{{hash}}">#{{hash}}</a>
           </span>
  </div>
</div>
  </ion-content>
</ion-view>
