<ion-view title="{{title}}">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="post in posts" type="item-text-wrap" href="#/tab/view/{{post._id}}">
        {{post.text}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
